<% provide :title, t("views.categories.index.title") %>
<h1><%= t "views.categories.index.content" %></h1>
<br>
<table class="table table-striped show-all-categories">
  <thead>
    <tr>
      <th class="category"><%= t "views.categories.index.category" %></th>
      <th class="learnt_words"><%= t "views.categories.index.learnt_words" %></th>
      <th class="total_words"><%= t "views.categories.index.total_words" %></th>
      <th class="action"><%= t "views.categories.index.action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, "#" %>
        <td>
          <%= Word.in_category(category.id).learnt(current_user.id).count %>
        </td>
        <td><%= category.words.count.to_s %></td>
        <td>
          <%= link_to t("views.categories.index.show_word"),
            words_path(category_id: category.id),
            class: "btn btn-success" %>
          <%= link_to t("views.categories.index.start_lesson"),
            lessons_path(category_id: category.id),
            method: :post, class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
