<% if obj = activity.target_object %>
  <li>
    <span class="content">
      <% case activity.action_type %>
      <% when Activity.actions[:follow] %>
        <%= t "views.activities.activity.follow_action" %>
        <%= link_to obj.name, user_path(activity.target_id) %>
      <% when Activity.actions[:unfollow] %>
        <%= t "views.activities.activity.unfollow_action" %>
        <%= link_to obj.name, user_path(activity.target_id) %>
      <% when Activity.actions[:start_lesson] %>
        <%= t "views.activities.activity.start_lesson", id: activity.target_id,
          category: obj.category.name %>
      <% when Activity.actions[:finish_lesson] %>
        <%= t "views.activities.activity.finish_lesson", id: activity.target_id,
          mark: obj.count_correct_answers.to_s + "/" + obj.lesson_words.count.to_s %>
      <% end %>
    </span>
    <span class="timestamp">
      <%= activity.created_at %>
    </span>
  </li>
<% end %>
